provider_endpoint: "http://127.0.0.1:8545"

chain_id: 900

adapter_address: "0x4c5859f0F772848b2D91F1D83E2Fe57935348029"

adapter_deployed_block_height: 0

staking_address: "0x9d4454B023096f34B160D6B654540c56A1F81688"

arpa_address: "0x8f86403A4DE0BB5791fa46B8e795C547942fE4Cf"

account:
  private_key: $ACCOUNT_PRIVATE_KEY

contract_transaction_retry_descriptor:
  base: 2
  factor: 1000
  max_attempts: 3
  use_jitter: true
contract_view_retry_descriptor:
  base: 2
  factor: 500
  max_attempts: 5
  use_jitter: true

relayed_chains:
  - chain_id: 901
    provider_endpoint: "http://127.0.0.1:9545"
    adapter_address: "0x5FC8d32690cc91D4c39d9d3abcBD16989F875707"
    adapter_deployed_block_height: 0
    arpa_address: "0x9fe46736679d2d9a65f0992f2272de9f3c7fa6e0"
    account:
      private_key: $OP_ACCOUNT_PRIVATE_KEY
    contract_transaction_retry_descriptor:
      base: 2
      factor: 1000
      max_attempts: 3
      use_jitter: true
    contract_view_retry_descriptor:
      base: 2
      factor: 500
      max_attempts: 5
      use_jitter: true